.contacts_container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.133);
    border-radius: 30px;
    h1{
        color: aliceblue;
    }
    h3{
        color: antiquewhite;
    }
    h4{
        color: azure;
    }
}
.modal-header{
    display: flex;
    justify-content: center;
}
.modal-body .submit_form{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}